/*********************************************************
***********************Mobile-firt************************
**********************************************************/
body {
  font-family: "roboto", sans-serif;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
}
.retour {
  display: flex;
  font-size: 20px;
  margin-left: 20px;
  color: black;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42%;
  margin-top: 22px;
  margin-bottom: 30px;
  margin-left: 100px;
}
.logo_header {
  height: 34px;
}
.img_entete {
  width: 100%;
  position: relative;
  z-index: 1;
}

/*********************************************************
*************************Titres***************************
**********************************************************/
h1 {
  font-family: "shrikhand", kursiv;
  font-size: 34px;
  font-weight: bold;
  font-style: italic;
  width: 70%;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
}
h2 {
  font-size: 24px;
  margin-left: 14px;
  border-bottom: 8px solid #99e2d0;
  width: 12%;
}

/*********************************************************
************************Coeur*****************************
*********************************************************/
.coeur {
  position: absolute;
  z-index: 2;
  right: 28px;
  top: 56px;
  font-size: 26px;
}
.coeur-noir {
  font-size: 50px;
  position: absolute;
  transition: opacity 2s;
  padding-top: 2px;
}
.coeur-noir:hover + .coeur-rose {
  opacity: 1;
  transform: scale(1.15);
}
.coeur-noir:hover {
  opacity: 0;
}
.coeur-rose {
  z-index: 1;
  transform: scale(0);
  font-size: 26px;
  width: 108%;
  background: linear-gradient(#ff79da, #9356dc);
  transition: opacity 1s, transform 1s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*********************************************************
***********************carte-menu************************
**********************************************************/
.menu {
  background-color: #f2f2f2;
  border-radius: 30px;
  position: relative;
  z-index: 2;
  top: -32px;
}
.palette {
  display: flex;
}
.palette i {
  display: flex;
  font-size: 26px;
  align-items: center;
}
.container_carte > .carte_menu:nth-child(2) {
  margin-bottom: 20px;
  animation: slidein 1s ease-in both;
}
.container_carte > .carte_menu:nth-child(3) {
  margin-bottom: 10px;
  animation: slidein 1s ease-in 0.33s both;
}
.container_carte > .carte_menu:nth-child(4) {
  margin-bottom: 10px;
  animation: slidein 1s ease-in 0.66s both;
}
.container_carte > .carte_menu:nth-child(6) {
  margin-bottom: 10px;
  animation: slidein 1s ease-in 0.99s both;
}
.container_carte > .carte_menu:nth-child(7) {
  margin-bottom: 10px;
  animation: slidein 1s ease-in 1.32s both;
}
.container_carte > .carte_menu:nth-child(8) {
  margin-bottom: 10px;
  animation: slidein 1s ease-in 1.65s both;
}
.container_carte > .carte_menu:nth-child(10) {
  margin-bottom: 10px;
  animation: slidein 1s ease-in 1.98s both;
}
.container_carte > .carte_menu:nth-child(11) {
  margin-bottom: 10px;
  animation: slidein 1s ease-in 2.31s both;
}
.container_carte > .carte_menu:nth-child(12) {
  margin-bottom: 10px;
  animation: slidein 1s ease-in 2.64s both;
}
.carte_menu {
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  font-size: 16px;
  padding-left: 10px;
  margin-left: 14px;
  background-color: white;
  display: flex;
  align-items: center;
  width: 90%;
  height: 68px;
}
.p1 {
  margin: 0;
  width: 800px;
  height: 90%;
  margin-bottom: 8px;
  transition: width 1s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.p1 p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.p3 {
  text-align: center;
  margin-right: 20px;
  z-index: 5;
  width: 20%;
}
.translation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99e2d0;
  width: 0px;
  opacity: 0;
  height: 100%;
  transition: width 1s, opacity 1s;
}
.fa-check-circle {
  color: white;
  font-size: 17px;
  transition: transform 1.5s;
}
.carte_menu:hover .translation {
  width: 130px;
  height: 68px;
  opacity: 1;
}
.carte_menu:hover .fa-check-circle {
  transform: rotate(360deg);
}
.carte_menu:hover .p1 {
  width: 500px;
}
.btn {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 200px;
  font-size: 20px;
  height: 50px;
  width: 48%;
  color: white;
  margin-left: 100px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 30px;
}
.btn:hover {
  box-shadow: 1px 1px 3px 3px #c4bebf;
}
.commander {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@keyframes slidein {
  from {
    transform: translate(0, 50px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0px);
    opacity: 1;
  }
}
/**********************************************************
**************************Footer***************************
***********************************************************/
.foot {
  background-color: grey;
  padding-bottom: 30px;
}
.logo_footer {
  margin-left: 30px;
  padding-top: 30px;
}
.logo_f {
  width: 50%;
  height: 30px;
}
.group {
  display: flex;
  flex-direction: column;
}
.rest_p {
  display: flex;
  height: 47px;
  width: 90%;
  text-decoration: none;
}
.rest_parte {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 30px;
  font-size: 18px;
  color: white;
}
.rest_parteB {
  font-size: 24px;
}
.rest_parte i {
  margin-right: 10px;
  color: white;
}
.rest_parte p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mention_p {
  display: flex;
  text-decoration: none;
  width: 44%;
}
/************************************************************************
******************************Responsive*Tablette************************
************************************************************************/
@media screen and (min-width: 810px) {
  .logo {
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: 186px;
  }
  .img_entete {
    height: 460px;
    object-fit: cover;
  }
  h1 {
    font-size: 50px;
    padding-left: 0;
  }
  h2 {
    font-size: 40px;
  }
  .palette i {
    font-size: 34px;
  }
  .p1 {
    margin-bottom: 0;
    height: 90%;
  }
  .p1 p {
    margin-top: 10px;
  }
  .coeur {
    right: 100px;
    top: 84px;
  }
  .carte_menu {
    font-size: 30px;
    height: 110px;
  }
  .carte_menu:hover .translation {
    height: 110px;
  }
  .fa-check-circle {
    font-size: 44px;
  }
  .btn {
    font-size: 30px;
    height: 68px;
    width: 28%;
    margin-left: 292px;
  }
  /***************************************************************
  **************************Footer*tablette***********************
  ***************************************************************/
  .rest_p {
    margin-top: 10px;
  }
  .mention_p {
    text-decoration: none;
  }
  .logo_f {
    width: 50%;
    height: 44px;
  }
}
/*****************************************************************
****************************Version*Desktop***********************
*****************************************************************/
@media screen and (min-width: 1080px) {
  .logo {
    margin-left: 400px;
  }
  .carte_menu {
    width: 60%;
    margin-left: 320px;
    border-radius: 16px;
  }
  .btn {
    margin-left: 576px;
  }
  .carte_menu:hover .translation {
    width: 214px;
  }
  /**************************************************************
  *****************************Footer****************************
  **************************************************************/
  .logo_f {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 30%;
    margin-bottom: 20px;
  }
  .rest_p {
    width: 70%;
  }
  .rest_parte {
    margin-left: 64px;
  }
  .rest_parte p {
    width: 284px;
  }
  .mention_p {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 0;
  }
  .group {
    height: 84px;
    flex-direction: row;
  }
}
