/*********************************************************
***********************Mobile-firt************************
**********************************************************/
body {
  font-family: "roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: grey;
  opacity: 0.7;
  position: fixed;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  text-align: center;
  z-index: 9999;
  top: 0;
  left: 0;
  animation: 3s loader;
}
.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
@keyframes loader {
  0% {
    visibility: visible;
    /*opacity: 1;*/
  }
  100% {
    visibility: hidden;
    /*opacity: 0;*/
  }
}
/********************************************************
***********************Loader quart de cercle************
*********************************************************/
.loader-quart {
  position: relative;
  border-radius: 50px;
  border: 6px solid linear-gradient(#ff79da, #9356dc);
  opacity: 0.4;
}
.loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: black;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/********************************************************
*********************************************************
********************************************************/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}
.formu {
  display: flex;
  justify-content: center;
  background-color: #f2f0f2;
  padding-left: 35px;
  padding-top: 30px;
}
.formu i {
  font-size: 36px;
}
.carte1 {
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  font-size: 45px;
  width: 88%;
  text-align: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.carte1 i {
  margin-right: 70px;
  font-size: 50px;
  color: grey;
}
.cercle {
  background-color: #9356dc;
  padding: 15px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: white;
  position: absolute;
  z-index: 2;
  left: -30px;
  bottom: 35px;
  top: 40px;
}
.cercle p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 0.7;
}
.carte1:hover {
  background-color: #ff79da;
}
.rechercher,
.container_carte {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rechercher {
  background-color: #f2f2f2;
  padding-bottom: 60px;
}
.rechercher p {
  font-size: 45px;
  width: 75%;
  text-align: center;
}
.search {
  font-size: 36px;
  margin-left: 20px;
  border: none;
  background-color: #f0f0f0;
}
.explo {
  width: 50%;
}
.btn {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 40px;
  font-size: 36px;
  height: 94px;
  width: 100%;
  color: white;
}
/*********************************************************
*************************Titres***************************
**********************************************************/
h1 {
  font-size: 70px;
  width: 66%;
  text-align: center;
}
h2 {
  font-size: 55px;
  margin-left: 30px;
}
/*********************************************************
***********************carte-resto************************
**********************************************************/
.container_carte2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.news {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
  position: absolute;
  right: 80px;
  top: 1710px;
  border-radius: 8px;
}
.news2 {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
  position: absolute;
  right: 80px;
  top: 1710px;
  border-radius: 8px;
}
.carte2 {
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  width: 92%;
  margin-bottom: 40px;
  text-decoration: none;
}
.coeur {
  position: absolute;
  z-index: 2;
  right: 50px;
  top: 90px;
  font-size: 50px;
}
.coeur-noir {
  font-size: 50px;
  position: absolute;
  transition: opacity 2s;
  padding-top: 2px;
}
.coeur-noir:hover + .coeur-rose {
  opacity: 1;
  transform: scale(1.15);
}
.coeur-noir:hover {
  opacity: 0;
}
.coeur-rose {
  z-index: 1;
  transform: scale(0);
  font-size: 50px;
  width: 108%;
  background: linear-gradient(#ff79da, #9356dc);
  transition: opacity 1s, transform 1s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img_resto {
  display: flex;
  border-radius: 20px 20px 0px 0px;
  height: 450px;
}
.cartedescription {
  font-size: 40px;
  text-decoration: none;
  margin-left: 30px;
  color: black;
  height: 200px;
  position: relative;
  z-index: 1;
}
.cartedescription p {
  text-decoration: none;
}
/**********************************************************
**************************Footer***************************
***********************************************************/
.foot {
  background-color: grey;
  padding-bottom: 30px;
}
.logo_footer {
  margin-left: 56px;
  padding-top: 50px;
}
.rest_p {
  display: flex;
  height: 47px;
  width: 36%;
  margin-top: 20px;
  margin-left: 30px;
  text-decoration: none;
}
.rest_parte {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 30px;
  font-size: 30px;
  color: white;
  font-size: 26px;
}
.rest_parteB {
  font-size: 24px;
}
.rest_parte i {
  margin-right: 10px;
  color: white;
}
.rest_parte p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mention_p {
  display: flex;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 30px;
}
/*********************************************
 ***********Responsive*tablette**************
*********************************************/

/*@media screen and (min-width: 812px) and (max-width: 1080px) {
  .container_carte {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .carte1 {
    width: 30%;
    font-size: 30px;
    align-items: center;
    margin-left: 30px;
    padding-left: 29px;
    margin-right: 20px;
  }
  .carte1 i {
    font-size: 30px;
    margin-right: 30px;
    margin-left: 10px;
  }
  .cercle {
    height: 16px;
    width: 16px;
    left: -24px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 35px;
  }
  .rechercher p {
    font-size: 35px;
  }
  .explo {
    width: 36%;
  }
  .btn {
    font-size: 30px;
  }
  /*************************************************
  ********************Container*menu****************
  **************************************************/
/*.container_carte2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
  .carte2 {
    width: 80%;
    margin-left: 50px;
    margin-bottom: 30px;
  }
  .news {
    top: 1034px;
    left: 310px;
    right: 560px;
  }
  .news2 {
    top: 1034px;
    right: 70px;
  }
  .news,
  .news2 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .img_resto {
    height: 250px;
  }
  .cartedescription {
    font-size: 30px;
    height: 150px;
  }
  .coeur {
    font-size: 30px;
  }
  .coeur i {
    font-size: 30px;
  }
  /*******************************************************
  ***********************footer***************************
  ********************************************************/
/*.rest_parte {
    font-size: 20px;
  }
}*/
