/*********************************************************
***********************Mobile-firt************************
**********************************************************/
/*@media screen and (max-device-width: 812px) {*/
body {
  font-family: "roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: grey;
  opacity: 0.7;
  position: fixed;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  text-align: center;
  z-index: 9999;
  top: 0;
  left: 0;
  animation: 3s loader;
}
.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
@keyframes loader {
  0% {
    visibility: visible;
    /*opacity: 1;*/
  }
  100% {
    visibility: hidden;
    /*opacity: 0;*/
  }
}
/********************************************************
***********************Loader quart de cercle************
*********************************************************/
.loader-quart {
  position: relative;
  border-radius: 50px;
  border: 6px solid linear-gradient(#ff79da, #9356dc);
  opacity: 0.4;
}
.loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 50px;
  border: 6px solid #9356dc;
  border-top-color: #ff79da;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/********************************************************
*********************************************************
********************************************************/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo_header {
  width: 56%;
  height: 42px;
}
.formulaire {
  background-color: #f6f6f6;
}
.formu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding-left: 42px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.formu i {
  font-size: 18px;
}
.carte1 {
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  font-size: 18px;
  width: 84%;
  text-align: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.carte1 i {
  margin-right: 30px;
  font-size: 18px;
  color: grey;
}
.cercle {
  background-color: #9356dc;
  padding: 15px;
  border-radius: 50%;
  height: 0px;
  width: 0px;
  color: white;
  position: absolute;
  z-index: 2;
  left: -14px;
  top: 16px;
}
.cercle p {
  display: flex;
  justify-content: center;
  margin-top: 0;
  line-height: 0.2;
}
.carte1:hover {
  background-color: #ff79da;
}
.carte1 i:hover {
  color: #9356dc;
}
.rechercher,
.container_carte {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rechercher {
  background-color: #f2f2f2;
  padding-bottom: 60px;
}
.rechercher p {
  font-size: 18px;
  width: 92%;
  text-align: center;
  margin-top: 0;
}
.search {
  font-size: 18px;
  margin-left: 20px;
  border: none;
  background-color: #f0f0f0;
}
.explo {
  width: 60%;
}
.btn {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 40px;
  font-size: 18px;
  height: 68px;
  width: 100%;
  color: white;
}
.btn:hover {
  box-shadow: 3px 3px 10px 6px #c4bebf;
}
/*********************************************************
*************************Titres***************************
**********************************************************/
h1 {
  font-size: 27px;
  width: 75%;
  text-align: center;
}
h2 {
  font-size: 27px;
  margin-left: 30px;
}
/*********************************************************
***********************carte-resto************************
**********************************************************/
.container_carte2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.news,
.news2 {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0px 5px;
  margin: 0;
  position: absolute;
  border-radius: 8px;
  right: 32px;
}
.news {
  top: 838px;
}
.news2 {
  top: 1140px;
}
.carte2 {
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px 5px 3px #c4bebf;
  border-radius: 20px;
  width: 92%;
  margin-bottom: 20px;
  text-decoration: none;
}
.coeur {
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 44px;
}
.coeur-noir {
  font-size: 28px;
  position: absolute;
  transition: opacity 2s;
  padding-top: 2px;
}
.coeur-noir:hover + .coeur-rose {
  opacity: 1;
  transform: scale(1.15);
}
.coeur-noir:hover {
  opacity: 0;
}
.coeur-rose {
  z-index: 1;
  transform: scale(0);
  font-size: 28px;
  width: 108%;
  background: linear-gradient(#ff79da, #9356dc);
  transition: opacity 1s, transform 1s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img_resto {
  display: flex;
  border-radius: 20px 20px 0px 0px;
  height: 190px;
}
.cartedescription {
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
  color: black;
  height: 90px;
  position: relative;
  z-index: 1;
}
.cartedescription p {
  text-decoration: none;
}
/**********************************************************
**************************Footer***************************
***********************************************************/
.foot {
  background-color: grey;
  padding-bottom: 30px;
}
.logo_footer {
  margin-left: 30px;
  padding-top: 30px;
}
.logo_f {
  width: 50%;
  height: 30px;
}
.group {
  display: flex;
  flex-direction: column;
}
.rest_p {
  display: flex;
  height: 47px;
  width: 90%;
  text-decoration: none;
}
.rest_parte {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 30px;
  font-size: 18px;
  color: white;
}
.rest_parteB {
  font-size: 24px;
}
.rest_parte i {
  margin-right: 10px;
  color: white;
}
.rest_parte p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mention_p {
  display: flex;
  text-decoration: none;
  width: 44%;
}
/*}*/
/*********************************************
 ***********Responsive*tablette**************
*********************************************/
@media screen and (min-width: 810px) {
  .logo_header {
    height: 56px;
  }
  .formu i {
    font-size: 26px;
  }
  .search {
    font-size: 26px;
  }
  .container_carte {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .carte1 {
    width: 30%;
    height: 70px;
    font-size: 18px;
    align-items: center;
    margin-left: 30px;
    padding-left: 29px;
    margin-right: 20px;
  }
  .carte1 i {
    font-size: 25px;
    margin-right: 0px;
    margin-left: 10px;
  }
  .cercle {
    height: 6px;
    width: 6px;
    left: -24px;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 35px;
  }
  .rechercher p {
    font-size: 35px;
    margin-top: 8px;
  }
  .explo {
    width: 50%;
  }
  .btn {
    font-size: 30px;
  }
  /*************************************************
  ********************Container*menu****************
  **************************************************/
  .container_carte2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
  .carte2 {
    width: 80%;
    margin-left: 50px;
    margin-bottom: 30px;
  }
  .news {
    top: 851px;
    left: 284px;
    right: 450px;
  }
  .news2 {
    top: 851px;
    right: 46px;
  }
  .news,
  .news2 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .img_resto {
    height: 200px;
  }
  .cartedescription {
    font-size: 20px;
    height: 82px;
  }
  .cartedescription p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .coeur {
    font-size: 30px;
    top: 32px;
  }
  .coeur i {
    font-size: 30px;
  }
  /*******************************************************
  ***********************footer***************************
  ********************************************************/
  .logo_f {
    width: 44%;
    height: 40px;
  }
  .rest_parte {
    font-size: 20px;
  }
  .rest_parte,
  .rest_p,
  .mention_p {
    margin-top: 0;
    margin-bottom: 10px;
    height: 38px;
  }
  .rest_p {
    width: 34%;
  }
}

/***********************************************************
************************Version*Desktop*********************
***********************************************************/
@media screen and (min-device-width: 1080px) {
  .logo_header {
    width: 30%;
    height: 83px;
  }
  .formu i {
    font-size: 28px;
  }
  .search {
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 40px;
  }
  .rechercher p {
    font-size: 35px;
    width: 50%;
  }
  .container_carte {
    flex-direction: row;
    align-items: center;
  }
  .carte1 {
    width: 64%;
    font-size: 22px;
    margin-left: 100px;
    margin-right: 30px;
  }
  .cercle {
    width: 16px;
    height: 16px;
    left: -24px;
    top: 16px;
  }
  .carte1 i {
    font-size: 25px;
    margin-right: 34px;
  }
  .cercle p {
    line-height: 0.7;
  }
  .btn {
    height: 70px;
  }
  /*****************************************************************
***************************Conteiner_carte2***********************
*****************************************************************/
  .container_carte2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    margin-bottom: 0;
  }

  .carte2 {
    border: 1px solid grey;
    width: 80%;
    height: 100%;
    margin-left: 76px;
    margin-bottom: 40px;
  }
  .news {
    top: 842px;
    left: 592px;
    right: auto;
  }
  .news2 {
    top: 842px;
    right: 90px;
  }
  .img_resto {
    height: 250px;
    width: 100%;
  }
  .cartedescription {
    height: 66px;
    font-size: 30px;
  }
  .coeur {
    top: 60px;
  }
  /***************************************************************
****************************Footer******************************
***************************************************************/
  .logo_f {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 46px;
    width: 30%;
    margin-bottom: 20px;
  }
  .rest_p {
    width: 70%;
  }
  .rest_parte {
    margin-left: 64px;
  }
  .rest_parte p {
    width: 284px;
  }
  .mention_p {
    margin-left: 0;
  }
  .group {
    height: 84px;
    flex-direction: row;
  }
}
