/*********************************************************
***********************Mobile-firt************************
**********************************************************/
.logo{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    margin-top:40px;
    margin-bottom:30px;
}
.img_entete{
    width:100%;
    position: relative;
    z-index: 1;
}

/*********************************************************
*************************Titres***************************
**********************************************************/
h1{
    font-size:70px;
    width:66%;
    text-align:center;
    padding-top:20px;
}
h2{
    font-size:55px;
    margin-left:30px;
}
/*********************************************************
***********************carte-menu************************
**********************************************************/
.menu{
    background-color: #f2f2f2;
    border-radius:116px;
    position: absolute;
    z-index: 2;
    top:636px;
}
.carte_menu{
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    font-size: 45px;
    padding-left:20px;
    margin-bottom:20px;
    background-color:white;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    height:164px;
    width:92%;
}
.p1 {
    width:100%;
    margin:0;
    width:100%;
    height:55px;
}
.p2{
    margin-right:auto;
    font-weight:normal;
}
.p3{
    margin-right:40px;
    font-weight:normal;
}
.btn{
    background-color: #9356DC;
    border-radius: 40px;
    font-size: 36px;
    height: 94px;
    width: 50%;
    color: white;
}
.commander{
    display: flex;
    justify-content: center;
    padding-top:50px;
    padding-bottom:50px;
}
/**********************************************************
**************************Footer***************************
***********************************************************/
.foot{
    background-color:grey;
    padding-bottom:30px;
}
.logo_footer{
    margin-left:56px;
    padding-top:50px;
}
.rest_p{
    display: flex;
    height:47px;
    width:36%;
    margin-top:20px;
    margin-left: 30px;
    text-decoration:none;
}
.rest_parte{
    display:flex;
    flex-direction:row;
    align-items:baseline;
    margin-left:30px;
    font-size: 30px;
    color:white;
    font-size:26px;
}
.rest_parteB{
    font-size:24px;
}
.rest_parte i{
    margin-right:10px;
    color:white;
}
.rest_parte p{
    margin-top:10px;
    margin-bottom:10px;
    
}
/*.mention {
    text-decoration:none;
    display:flex;
    flex-direction:column;
    font-size:22px;
}*/
.mention_p{
    display:flex;
    text-decoration:none;
    margin-top:20px;
    margin-left: 30px;
}